body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#paymentPage {
    width: inherit;
    height: 600px;
    border: 2px black solid;
}


#complete-payment-button {
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 24px, 16px;
    border: 2px white solid;
    border-radius: 6px;
}